## We are Importing our Neccessary Libraies to process our Web page table

In [90]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler,PolynomialFeatures
import itertools
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import matplotlib.ticker as ticker
from sklearn import preprocessing 
%matplotlib inline

In [91]:
import fiona as fn

In [92]:
import geopandas 
from descartes.patch import PolygonPatch
from matplotlib.collections import PatchCollection

## We did a Data Scraping and save our Table to a CSV file making it easier fro Proccessing

In [93]:
df0 = pd.read_csv('Toronto_fsa.csv')

In [94]:
df1 = pd.read_csv('Geospatial_Coordinates.csv')

## We want to print and know our Rows and Columns in our Toronto FSA table

In [95]:
df0.head()

  Postcode          Borough     Neighbourhood
0      M5R  Central Toronto         Yorkville
1      M3J       North York   York University
2      M2P       North York   York Mills West
3      M2L       North York        York Mills
4      M4C        East York  Woodbine Heights

## We want to print and know our Rows and Columns in our Cordnate CSV table

In [96]:
df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

## Again we wa to print only our Columns in Various Data sets which is Toronto FSA and Cordnates Table

In [97]:
df1.columns

Index(['Postal Code', 'Latitude', 'Longitude'], dtype='object')

In [98]:
df0.columns

Index(['Postcode', 'Borough', 'Neighbourhood '], dtype='object')

In [99]:
df0.columns = ['Postcode', 'Borough', 'Neighbourhood']
df0.columns

Index(['Postcode', 'Borough', 'Neighbourhood'], dtype='object')

In [100]:
df1.columns

Index(['Postal Code', 'Latitude', 'Longitude'], dtype='object')

## We are performing a data Merge to combine and march our Cordates of Latitudes, Logitudes, Postal Code and etc.

In [101]:
pd.merge(df0, df1, left_on = 'Postcode', right_on = 'Postal Code').head()

  Postcode          Borough     Neighbourhood Postal Code  Latitude  Longitude
0      M5R  Central Toronto        Yorkville          M5R  43.67271 -79.405678
1      M5R  Central Toronto        The Annex          M5R  43.67271 -79.405678
2      M5R  Central Toronto    North Midtown          M5R  43.67271 -79.405678
3      M3J       North York  York University          M3J  43.76798 -79.487262
4      M3J       North York   Northwood Park          M3J  43.76798 -79.487262

In [102]:
df0 = df0.set_index('Postcode')

In [103]:
df0.head()

                  Borough      Neighbourhood
Postcode
M5R       Central Toronto         Yorkville
M3J            North York   York University
M2P            North York   York Mills West
M2L            North York        York Mills
M4C             East York  Woodbine Heights

## Now Lets Print the out put of our newly created merged Data

In [141]:
df3  = pd.merge(df0, df1, left_index = True, right_on = 'Postal Code')

In [142]:
df3.head()

            Borough     Neighbourhood Postal Code  Latitude  Longitude
65  Central Toronto        Yorkville          M5R  43.67271 -79.405678
65  Central Toronto        The Annex          M5R  43.67271 -79.405678
65  Central Toronto    North Midtown          M5R  43.67271 -79.405678
29       North York  York University          M3J  43.76798 -79.487262
29       North York   Northwood Park          M3J  43.76798 -79.487262

In [27]:
df4.columns

Index(['Borough', 'Neighbourhood', 'Postal Code', 'Latitude', 'Longitude'], dtype='object')

In [25]:
df4.shape

(210, 5)

In [149]:
import geopandas as gp
from descartes.patch import PolygonPatch
from matplotlib.collections import PatchCollection

In [150]:
import folium
import fiona

In [151]:
folium.Map()

In [117]:
from descartes.patch import PolygonPatch
from matplotlib.collections import PatchCollection

In [124]:
import itertools
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import pandas as pd
import numpy as np
import matplotlib.ticker as ticker
from sklearn import preprocessing 
%matplotlib inline

## Finaly we Visualize a Map of Toronto with coresponding Cordinate

In [135]:
m= folium.Map(location = [43.6487, -79.38544], zoom_start=5)

In [136]:
folium.Marker([43.6487, -79.38544], )

In [139]:
m

In [143]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210 entries, 65 to 12
Data columns (total 5 columns):
Borough          210 non-null object
Neighbourhood    210 non-null object
Postal Code      210 non-null object
Latitude         210 non-null float64
Longitude        210 non-null float64
dtypes: float64(2), object(3)
memory usage: 9.8+ KB

In [94]:
df2.isnull().head()

   Postcode  Borough  Neighbourhood
0     False    False          False
1     False    False          False
2     False    False          False
3     False    False          False
4     False    False          False

## Now we Print all Data that has Borough assigned to it and also return all Neighbourhood which are assigned with a Neighbourhood name

Filtering Data in Borough and Neighbourhood which is a "Not assigned" value

In [146]:
df3 = df3 [(df3.Borough ==" " ) | (df3.Neighbourhood != 'Not assigned')].head()

In [147]:
df3

            Borough     Neighbourhood Postal Code  Latitude  Longitude
65  Central Toronto        Yorkville          M5R  43.67271 -79.405678
65  Central Toronto        The Annex          M5R  43.67271 -79.405678
65  Central Toronto    North Midtown          M5R  43.67271 -79.405678
29       North York  York University          M3J  43.76798 -79.487262
29       North York   Northwood Park          M3J  43.76798 -79.487262